.wrapper {
  background-image: url(../img/dots.png) !important;
  background-size: contain !important;
  height: 100vh;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bbtn {
  margin: 20px;
  width: 150px;
}

.searchBttn {
  margin: 0 auto;
  margin-top: 15px;
  width: 150px;
}

.main-header {
  display: flex;
  justify-content: center !important;
  color: #fcfcfc !important
}