.mapContainer{
  margin-top: 20%;
  padding: 2%;
}
.leaflet-container{
  margin-top: 20px !important;
  height: 480px;
  width: auto;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.map-leaflet {
  width: 100%;
  height: 800px;
  position: absolute;
}

.card-map {
  float: left;
  background: #1f2251 !important;
  color: #fcfcfc !important
}

.card .card-header {
  border-radius: 3px;
  padding: 1rem 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border: 0;
}

.card .card-body, .card .card-footer {
  padding: .9375rem 1.875rem;
}

.card .card-rose {
  color: #fcfcfc !important;
  border-radius: 3px;
  background: linear-gradient(60deg, #ec407a, #c2185b);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(233, 30, 99, .6);
}

.map-icon {
  color: #fcfcfc !important;
  margin-right: 5px !important;
  font-size: .75rem !important;
}